<% provide(:title, "Embedded Jupyter") %>
<h1>Embedded Jupyter</h1>
<p>
  Feel free to use the embedded jupyter below. If content isn't available asure that jupyter is running in localhost 8888.
</p>

<iframe src="http://localhost:8888/tree"
              width="100%" height=600></iframe>