<footer class="footer">
  <small>
    The <a href="https://rubyonrails.org/">Ruby on Rails</a>
    embedded <a href="http://jupyter.org/">Jupyter</a> webb app by <a href="https://github.com/JanKapala/">Jan Kapała</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://newsletter.jupyter.org/">News</a></li>
    </ul>
  </nav>
</footer>